// Colors
$grey: #8d99aa;
$grey-darker: #445368;
$grey-lighter: #d0d5dc;

$blue: #00b3f5;
$green: #00cd50;
$red: #c81a0d;

// Text
$font-family: 'Hind', sans-serif;
$font-size-big: 24px;
$font-size-regular: 20px;
$font-size-small: 18px;

$space: 20px;
$space-small: $space/2;
$space-big: $space*2;
