@import '../../styles/variables';

.title {
  color: $grey-darker;
  text-align: center;
  margin-bottom: $space-small;
}

.description {
  color: $grey;
  text-align: center;
  margin-top: 0;
  font-size: 22px;
}

.input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid $grey-lighter;
  font-family: $font-family;
  font-size: 20px;
  color: $grey;
  background: white;
  
  &::placeholder {
    color: $grey;
  }
}

.datepickerNoContent {
  &:before {
    content: attr(placeholder) !important;
    color: $grey;
    margin-right: $space-small;
  }

  &:focus:before,
  &:valid:before {
    content: "";
  }
}

.select {
  width: 100%;
  padding: $space-small $space;
  font-size: $font-size-regular;
  color: $grey;
  font-family: $font-family;
  border: none;
  border-bottom: 1px solid $grey-lighter;
}

.button {
  margin-top: $space-big;
}
