@import '../../styles/variables';

.header {
  padding: $space-big 0;
  text-align: center;
  background-color: $blue;
  color: #fff;
  margin: 0
}

.body {
  max-width: 450px;
  margin: auto;
  padding: $space;
}
